html {
  font-family: Arial, Helvetica, sans-serif;
}

/**,
*:before,
*:after {
  box-sizing: border-box;
}*/

img, svg {
  vertical-align: bottom;
}

.content {
    display: flex;
    justify-content: space-around;
}

.editable {
  position: absolute;
  top: 0;
  left: 0;
}

#form-name {
  width: calc(100% - 8px);

}

.form-section {
  position: relative;
  margin: 15px 0;
}

.color-display-title, .swatch-label {
  color: black;
}

.swatch {
  width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swatch-face {
  height: 16px;
  width: 16px;
}

.form-name {
  color: black;
}

#background-image {
  width: 755px;
}

.board-display {
  position: relative;
  width: 755px;
}

.crop-container {
  display: flex;
  justify-content: center;
  width: 50%;
  overflow: hidden;
}

/*svg {
  width: 755px;
}*/

.container {
    position: absolute;
    width: 755px;
    top: 0;
    left: 0;
    margin: 0;
}

/*.can_board, .can {
    vertical-align: bottom;
}*/

.can_board {
    mix-blend-mode: multiply;
}

/*.board{fill:#adcdd8;}

.primary{fill:#f8371e;}

.seal{fill:#a8c8d5;}

.secondary{fill:#518824;}

.name{fill:#fefeca;}

.linework{fill:#010101;}*/

.label-input-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
  border: 1.5px solid rgba(0,0,0,0.15);
}

.label-input {
  width: 110px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
}

p {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.color {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 1px solid buttonface;
  background-color: transparent;
  border-radius: 4px;
}

.color:focus, .color:active {
  background-color: buttonface;
}

.color-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.color-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 2em;
  right: 2em;
}

.color-inputs img {
  display: none;
}

.color-input, .save-btn {
  padding: 8px;
  display: block;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 4px;
}

.form-name {
  padding-bottom: 5px;
}

.form-name, .color-display-title {
  font-weight: bold;
}

label {
  display: block;
  padding: 6px 8px 0 0;
  font-family: Arial, Helvetica, sans-serif
}

.presets {
  /*display: flex;*/
  justify-content: center;
  overflow-y: auto;
}

.preset-container {
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #e1e1e1;
}

.preset-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
}

.load, .delete {
  padding: 6px 8px;
  border-radius: 22px;
  margin: 0;
  color: #616161;
  font-size: 24px;
}

.load:hover, .delete:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: #f1f1f1;
}

.colors-set {
  padding: 8px;
  border-radius: 4px;
  /*background-color: #f1f1f1;*/
  width: 57%;
  display: flex;
  justify-content: space-between;
}

.load-swatch {
  border: 1px solid #a1a1a1;
  height: 18px;
  width: 18px;
  margin: 3px;
}

.btn {
  width: 100%;
  min-width: 125px;
  padding: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: skyblue;
  transition: 0.2s;
}

button {
  color: black;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 5px 0;
}

button:hover {
  cursor: pointer;
  /*background-color: rgb(22, 190, 58);*/
  background-color: rgb(29, 132, 216);
  color: white;
  transition: 0.2s;
}

.jscolor {
  width: 100%;
  min-width: 125px;
  z-index: 3;
  padding: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .preset-container {
    width: 100%;
  }

  .colors-set {
    padding: 8px 8px 8px 0;
    width: 60%;
  }
}

@media only screen and (max-width: 350px) {
  .label-input {
    width: 80px;
  }
}

