*,
*:before,
*:after {
  box-sizing: border-box;
}

img, svg {
  vertical-align: bottom;
}

.content {
    display: flex;
    justify-content: space-around;
}

.editable {
  position: absolute;
  top: 0;
  left: 0;
}

#background-image {
  width: 755px;
}

.board-display {
  position: relative;
  width: 755px;
}

.crop-container {
  display: flex;
  justify-content: center;
  width: 50%;
  overflow: hidden;
}

/*svg {
  width: 755px;
}*/

.container {
    position: absolute;
    width: 755px;
    top: 0;
    left: 0;
    margin: 0;
}

/*.can_board, .can {
    vertical-align: bottom;
}*/

.can_board {
    mix-blend-mode: multiply;
}

.board{fill:#adcdd8;}

.primary{fill:#f8371e;}

.seal{fill:#a8c8d5;}

.secondary{fill:#518824;}

.name{fill:#fefeca;}

.linework{fill:#010101;}

.label-input-container {
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
  border: 1.5px solid rgba(0,0,0,0.15);
}

.label-input {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

p {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.color {
  cursor: pointer;
  height: 100%;
  border: none;
  background-color: transparent;
}

.color:focus, .color:active {
  background-color: buttonface;
}

.color-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.color-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 2em;
  right: 2em;
}

.color-inputs img {
  display: none;
}

.color-input, .save-btn {
  padding: 8px;
  display: block;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 4px;
}

label {
  display: block;
  padding: 6px 8px 0 0;
  font-family: Arial, Helvetica, sans-serif
}

.btn {
  width: 100%;
  min-width: 125px;
  padding: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: skyblue;
  transition: 0.2s;
}

button {
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(22, 190, 58);
  color: white;
  transition: 0.2s;
}

.jscolor {
  width: 100%;
  min-width: 125px;
  z-index: 3;
  padding: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}